#Switch to "release" mode in production.
GIN_MODE=debug

#0 is disabled; 1 is enabled.
CGO_ENABLED=1

#CONFIG
PORT=3000

#Google Cloud Storage
GOOGLE_CLOUD_PROJECT=someproyectid
GCS_BUCKET=testbucket
GCS_CREDENTIALS_FILE="../../../gcs-service-test.json"

#DATABASE
MONGODB_URI='mongodb://root:dbpwd@localhost:27017'
MONGODB_DATABASE=golang